body{
  padding: 25px;
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: #F0F0F0;
  background-color: #0F0F0F
}
p{
	font-family: monospace;
}
ol{
	display: inline-block;
	font-family: monospace;
	text-align: left;
	color: #389c40;
	margin: 15px 0;
}
ol span{
	color: #F0F0F0;
}
ul{
	display: inline-block;
	font-family: monospace;
	text-align: left;
	color: #389c40;
	margin: 15px 0;
}
ul span{
	color: #F0F0F0;
}
h1{
	font-family: monospace;
	color: #68CBF2;
	font-size: 42px;
	border: solid 4px #68CBF2;
}
h2{
	font-family: monospace;
	color: #A61723;
	font-size: 34px;
	border-bottom: solid 2px #A61723;
}
h3{
	font-family: monospace;
	font-size: 26px;
	color: #A61740;
}
