body{
	padding: 25px;
	width: 70%;
	margin: auto;
	text-align: center;
	font-size: 18px;
	color: #F0F0F0;
	background-color: #181913;
	--title-colour: #abca18;
	--section-colour: #e9056b;
	--block-background-colour: #131408;
	--header-colour: #ae74ff;
	--block-border: solid 1px var(--section-colour);
}
p{
	background-color: var(--block-background-colour);
	border: var(--block-border);
	font-family: monospace;
	padding: 14px;
	border-radius: 6px;
}
ol{
	display: inline-block;
	background-color: var(--block-background-colour);
	border: var(--block-border);
	font-family: monospace;
	text-align: left;
	color: var(--section-colour);
	margin: 15px 0;
	padding: 14px;
	border-radius: 6px;
	list-style-position: inside;
}
ol span{
	color: #F0F0F0;
}
ul{
	display: inline-block;
	background-color: var(--block-background-colour);
	border: var(--block-border);
	font-family: monospace;
	text-align: left;
	color: var(--section-colour);
	margin: 15px 0;
	padding: 14px;
	border-radius: 6px;
	list-style-position: inside;
}
ul span{
	color: #F0F0F0;
}
h1{
	font-family: monospace;
	color: var(--title-colour);
	font-size: 42px;
	border: solid 3px var(--title-colour);
}
h1:hover{
	color: #171812;
	background-color: var(--title-colour);
}
h2{
	font-family: monospace;
	color: var(--section-colour);
	font-size: 34px;
	border-bottom: solid 2px var(--section-colour);
}
h2:hover{
	color: #171812;
	background-color: var(--section-colour);
}
h3{
	font-family: monospace;
	width: 33%;
	margin: auto;
	font-size: 26px;
	color: var(--header-colour);
	border-top: solid 1px var(--header-colour);
	border-bottom: solid 1px var(--header-colour);
}
